body {
    background-color: #000000;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    color: #E08F8D;
}

h2 {
    color: #77DDE0;
    font-weight: bold;
}

p {
    color: #F0D189;
}

ul {
    color: #6CE091;
}

ol {
    color: #6CE091;
}
span{
    color: #6CE091
}
div{
    width: 9px;
    height: 20px;
    display: inline-block;
    /* border: 5px;
    padding: 5px;
    margin: 5px; */
    background-color: #f0f0f0;
}