body {
    background-color:#CAD6DB;
    font-family: 'Open Sans', serif;
    padding-left: 150px;
    padding-right: 150px;
}

a, h1, h2 {
    font-family: 'Arvo', serif;
    color:#545A5C;
}

table, th, td {
    border: 2px solid #545A5C;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: center;
    padding: 10px;
}

ul {
    display: inline-block;
    text-align: left;
}

button {
    padding: 0px;
    border: 3px solid black;
}

.center {
    text-align: center;
}

.iconImages {
    height: 32px;
    width: auto;
    padding-right: 5px;
}

.familyPhoto {
    display: block;
    height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.colorWheel {
    display: block;
    height: 575px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.colorButton {
    height: 100px;
    width: 200px;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    flex-direction: row;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.padRight {
    padding-right: 16px;
}