body {
    background-color: #00B88D;
}

h1 {
    background-color: #006950;
    color: #47EDC6;
    font-family: 'Devonshire', cursive;
    width: 400px;
    margin: auto;
    text-align: center;
    border: 10px;
    border-radius: 500px;
    border-color: white;
    border-style: double;

}

h2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1F6957;
    color: #00E8B2;
    width: fit-content;
    padding: 10px;
    border-style: dashed;
    border-color: black;
}

p {
    width: 1000px;
}

div {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    width: 300px;
    color: #47EDC6;
}