@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto:wght@400;500;700&display=swap');

:root {
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Roboto Mono', monospace;

    --color-primary: #fff;
    --color-secondary: #bfbfbf;
    --background-primary: #0f0f0f;
    --background-secondary: #1b1b1b;
    --background-tertiary: #272727;
    --accent-primary: #33bc15;
    --accent-secondary: #268d10;

    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.5rem;

    --shadow-intensity: 0.2;
    --shadow-offset: 4px;
    --shadow-blur: 16px;
    --box-shadow-down: 0 var(--shadow-offset) var(--shadow-blur) rgb(0, 0, 0, var(--shadow-intensity));

    --gap-xs: 4px;
    --gap-sm: 8px;
    --gap-md: 16px;

    --border-radius: var(--gap-sm);
}

body {
    font-family: var(--font-family-primary);
    font-size: 100%;
    background: var(--background-secondary);
    color: var(--color-primary);
}

body, h1, h2, h3, pre {
    margin: 0;
    line-height: 150%;
}

pre {
    font-family: var(--font-family-secondary);
}
